#map1 { 
  height: 180px; 
}

#map2 {
  height: 180px;
}

#map3 {
  height: 180px;
}

iframe {
  border: 0px;
}

/* Custom Styles */
    ul.nav-tabs{
      /* width: 220px; */
      margin-top: 20px;
      border-radius: 4px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
      margin: 0;
      border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
      border-top: none;
    }
    ul.nav-tabs li a{
      margin: 0;
      padding: 8px 16px;
      border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
      color: #fff;
      background: #0088cc;
      border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
      border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
      border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
      top: 30px; /* Set the top position of pinned element */
    }

.highlighted {
  background-color: hsl(261, 92%, 28%) !important;
  /* background-repeat: repeat-x; */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#894ef7", endColorstr="#330589");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#894ef7), to(#330589));
  background-image: -moz-linear-gradient(top, #894ef7, #330589);
  background-image: -ms-linear-gradient(top, #894ef7, #330589);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #894ef7), color-stop(100%, #330589));
  background-image: -webkit-linear-gradient(top, #894ef7, #330589);
  background-image: -o-linear-gradient(top, #894ef7, #330589);
  background-image: linear-gradient(#894ef7, #330589);
  border-color: #330589 #330589 hsl(261, 92%, 19%);
  color: #fff !important;
  padding: 5px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.59);
  -webkit-font-smoothing: antialiased;
}

.highlighted2 {
  background-color: hsl(58, 96%, 41%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcf778", endColorstr="#ccc604");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fcf778), to(#ccc604));
  background-image: -moz-linear-gradient(top, #fcf778, #ccc604);
  background-image: -ms-linear-gradient(top, #fcf778, #ccc604);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf778), color-stop(100%, #ccc604));
  background-image: -webkit-linear-gradient(top, #fcf778, #ccc604);
  background-image: -o-linear-gradient(top, #fcf778, #ccc604);
  background-image: linear-gradient(#fcf778, #ccc604);
  border-color: #ccc604 #ccc604 hsl(58, 96%, 33%);
  color: #333 !important;
  padding: 5px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.52);
  -webkit-font-smoothing: antialiased;
}



.img-responsive {
    margin: 0 auto;
}